*{
	margin: 0px;
	padding: 0px;
}

.home {
  position: absolute;
  left: 962px;
  top: 54px;
  width: 108px;
  height: 108px;
  z-index: 79;
}

.spot0 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 451px;
  height: 281px;
	z-index: 10;
}

.spot1 {
	position: absolute;
  left: 500px;
  top: 0px;
  width: 114px;
  height: 46px;
	z-index: 15;
}

.spot2 {
	position: absolute;
  left: 616px;
  top: 0px;
  width: 114px;
  height: 46px;
	z-index: 15;
}

.spot3 {
	position: absolute;
  left: 731px;
  top: 0px;
  width: 114px;
  height: 46px;
	z-index: 15;
}

.spot4 {
	position: absolute;
  left: 846px;
  top: 0px;
  width: 114px;
  height: 46px;
	z-index: 15;
}

.spot5 {
	position: absolute;
  left: 962px;
  top: 0px;
  width: 114px;
  height: 46px;
	z-index: 15;
}

.spot6 {
	position: absolute;
  left: 842px;
  top: 0px;
  width: 115px;
  height: 43px;
	z-index: 15;
}

.spot7 {
  position: absolute;
  left: 957px;
  top: 0px;
  width: 115px;
  height: 43px;
  z-index: 15;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 129px;
  top: 239px;
  width: 277px;
  height: 14px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 36px;
  top: 240px;
  width: 463px;
  height: 271px;
	animation: zoomIn 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	transform-origin: top;
	z-index: 2;
}

.s4 {
	position: absolute;
  left: 670px;
  top: 237px;
  width: 217px;
  height: 16px;
	animation: fadeInUp 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 518px;
  top: 244px;
  width: 527px;
  height: 122px;
	animation: zoomIn 0.5s;
	animation-delay: 1.7s;
	animation-fill-mode: both;
	transform-origin: top;
	z-index: 2;
}

.s6 {
	position: absolute;
  left: 669px;
  top: 380px;
  width: 251px;
  height: 16px;
	animation: fadeInUp 0.5s;
	animation-delay: 2.3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 518px;
  top: 390px;
  width: 527px;
  height: 122px;
	animation: zoomIn 0.5s;
	animation-delay: 2.8s;
	animation-fill-mode: both;
	transform-origin: top;
	z-index: 2;
}

.s8 {
	position: absolute;
  left: 384px;
  top: 531px;
  width: 312px;
  height: 30px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s9 {
	position: absolute;
  left: 233px;
  top: 563px;
  width: 169px;
  height: 25px;
	animation: fadeInUp 0.5s;
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 156px;
  top: 563px;
  width: 321px;
  height: 178px;
	animation: zoomIn 0.5s;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	transform-origin: top;
	z-index: 2;
}

.s11 {
	position: absolute;
  left: 681px;
  top: 566px;
  width: 131px;
  height: 15px;
	animation: fadeInUp 0.5s;
	animation-delay: 5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s12 {
	position: absolute;
  left: 550px;
  top: 568px;
  width: 372px;
  height: 185px;
	animation: zoomIn 0.5s;
	animation-delay: 5.5s;
	animation-fill-mode: both;
	transform-origin: top;
	z-index: 2;
}

.s13 {
	position: absolute;
  left: 1051px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 4.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s14 {
	position: absolute;
  left: 1060px;
  top: 446px;
  width: 145px;
  height: 80px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 4.6s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}


@keyframes flashLong {
  0%, 40%, 80%   {
    opacity: 0;
  }

  20%, 60%, 100% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}