*{
	margin: 0px;
	padding: 0px;
}

.home {
  position: absolute;
  left: 962px;
  top: 54px;
  width: 108px;
  height: 108px;
  z-index: 79;
}

.spot1 {
	position: absolute;
  left: 500px;
  top: 0px;
  width: 114px;
  height: 46px;
	z-index: 15;
}

.spot2 {
	position: absolute;
  left: 616px;
  top: 0px;
  width: 114px;
  height: 46px;
	z-index: 15;
}

.spot3 {
	position: absolute;
  left: 731px;
  top: 0px;
  width: 114px;
  height: 46px;
	z-index: 15;
}

.spot4 {
	position: absolute;
  left: 846px;
  top: 0px;
  width: 114px;
  height: 46px;
	z-index: 15;
}

.spot5 {
	position: absolute;
  left: 962px;
  top: 0px;
  width: 114px;
  height: 46px;
	z-index: 15;
}

.spot6 {
	position: absolute;
  left: 842px;
  top: 0px;
  width: 115px;
  height: 43px;
	z-index: 15;
}

.spot7 {
  position: absolute;
  left: 957px;
  top: 0px;
  width: 115px;
  height: 43px;
  z-index: 15;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 53px;
  top: 225px;
  width: 457px;
  height: 267px;
	animation: zoomIn 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 524px;
  top: 222px;
  width: 530px;
  height: 270px;
	animation: zoomIn 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 418px;
  top: 518px;
  width: 245px;
  height: 23px;
	animation: fadeInUp 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 188px;
  top: 551px;
  width: 313px;
  height: 174px;
	animation: zoomIn 0.5s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	transform-origin: top right;
	z-index: 7;
}

.s6 {
	position: absolute;
  left: 574px;
  top: 555px;
  width: 363px;
  height: 182px;
	animation: zoomIn 0.5s;
	animation-delay: 2.7s;
	animation-fill-mode: both;
	transform-origin: top left;
	z-index: 10;
}

.s7 {
	position: absolute;
  left: 44px;
  top: 279px;
  width: 160px;
  height: 23px;
	animation: flash 2s 2;
	animation-delay: 3.5s;
	animation-fill-mode: both;
	z-index: 10;
}

.s8 {
	position: absolute;
  left: 488px;
  top: 446px;
  width: 109px;
  height: 85px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s9 {
	position: absolute;
  left: 660px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 2.6s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 682px;
  top: 446px;
  width: 118px;
  height: 78px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s11 {
	position: absolute;
  left: 856px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 3.4s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s12 {
	position: absolute;
  left: 871px;
  top: 446px;
  width: 125px;
  height: 109px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3.8s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s13 {
	position: absolute;
  left: 1051px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 4.2s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s14 {
	position: absolute;
  left: 1060px;
  top: 446px;
  width: 145px;
  height: 80px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 4.6s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}


@keyframes flashLong {
  0%, 40%, 80%   {
    opacity: 0;
  }

  20%, 60%, 100% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}