*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 178px;
  top: 338px;
  width: 725px;
  height: 412px;
  border: none;
	z-index: 5;
}
