*{
	margin: 0px;
	padding: 0px;
}

.blip {
  position: absolute;
  left: 492px;
  top: 642px;
  width: 52px;
  height: 40px;
	animation: flashLongOn 1s infinite;
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 30;
}

.pop {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1080px;
	height: 810px;
	display: none;
	z-index: 120;
}

.popUp {
  position: absolute;
  left: 361px;
  top: 315px;
  width: 625px;
  height: 387px;
  z-index: 100;
}

.home {
	position: absolute;
  left: 925px;
  top: 35px;
  width: 155px;
  height: 96px;
	z-index: 35;
}

.spot0 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 451px;
  height: 281px;
	z-index: 10;
}

.spot1 {
	position: absolute;
  left: 457px;
  top: 0px;
  width: 75px;
  height: 47px;
	z-index: 15;
}

.spot2 {
	position: absolute;
  left: 535px;
  top: 0px;
  width: 75px;
  height: 47px;
	z-index: 15;
}

.spot3 {
	position: absolute;
  left: 612px;
  top: 0px;
  width: 75px;
  height: 47px;
	z-index: 15;
}

.spot4 {
	position: absolute;
  left: 689px;
  top: 0px;
  width: 75px;
  height: 47px;
	z-index: 15;
}

.spot5 {
	position: absolute;
  left: 767px;
  top: 0px;
  width: 75px;
  height: 47px;
	z-index: 15;
}

.spot6 {
	position: absolute;
  left: 844px;
  top: 0px;
  width: 75px;
  height: 47px;
	z-index: 15;
}

.spot7 {
  position: absolute;
  left: 921px;
  top: 0px;
  width: 75px;
  height: 47px;
  z-index: 15;
}

.spot8 {
  position: absolute;
  left: 998px;
  top: 0px;
  width: 75px;
  height: 47px;
  z-index: 15;
}


.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 0px;
  top: 269px;
  width: 883px;
  height: 31px;
	animation: slideInLeft 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 108px;
  top: 330px;
  width: 172px;
  height: 383px;
	animation: zoomIn 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	transform-origin: bottom left;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 360px;
  top: 316px;
  width: 629px;
  height: 388px;
	animation: zoomIn 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 584px;
  top: 392px;
  width: 357px;
  height: 104px;
	animation: fadeInUp 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 584px;
  top: 502px;
  width: 358px;
  height: 104px;
	animation: fadeInDown 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 10;
}

.s7 {
	position: absolute;
  left: 565px;
  top: 614px;
  width: 394px;
  height: 42px;
	animation: fadeInDown 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 392px;
  top: 397px;
  width: 161px;
  height: 217px;
	animation: fadeInRight 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s9 {
	position: absolute;
  left: 607px;
  top: 333px;
  width: 295px;
  height: 55px;
	animation: fadeInUp 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 583px;
  top: 669px;
  width: 360px;
  height: 18px;
	animation: flashLongOn 2s infinite;
	animation-delay: 3.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s11 {
	position: absolute;
  left: 861px;
  top: 395px;
  width: 139px;
  height: 298px;
	animation: zoomIn 0.5s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s12 {
	position: absolute;
  left: 871px;
  top: 446px;
  width: 125px;
  height: 109px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3.8s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s13 {
	position: absolute;
  left: 1051px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 4.2s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s14 {
	position: absolute;
  left: 1060px;
  top: 446px;
  width: 145px;
  height: 80px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 4.6s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}


@keyframes flashLongOn {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes pulseBig {
  0% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  100% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }
}