*{
	margin: 0px;
	padding: 0px;
}

.home {
	position: absolute;
  left: 925px;
  top: 35px;
  width: 155px;
  height: 96px;
	z-index: 35;
}

.spot0 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 451px;
  height: 281px;
	z-index: 10;
}

.spot1 {
	position: absolute;
  left: 457px;
  top: 0px;
  width: 75px;
  height: 47px;
	z-index: 15;
}

.spot2 {
	position: absolute;
  left: 535px;
  top: 0px;
  width: 75px;
  height: 47px;
	z-index: 15;
}

.spot3 {
	position: absolute;
  left: 612px;
  top: 0px;
  width: 75px;
  height: 47px;
	z-index: 15;
}

.spot4 {
	position: absolute;
  left: 689px;
  top: 0px;
  width: 75px;
  height: 47px;
	z-index: 15;
}

.spot5 {
	position: absolute;
  left: 767px;
  top: 0px;
  width: 75px;
  height: 47px;
	z-index: 15;
}

.spot6 {
	position: absolute;
  left: 844px;
  top: 0px;
  width: 75px;
  height: 47px;
	z-index: 15;
}

.spot7 {
  position: absolute;
  left: 921px;
  top: 0px;
  width: 75px;
  height: 47px;
  z-index: 15;
}

.spot8 {
  position: absolute;
  left: 998px;
  top: 0px;
  width: 75px;
  height: 47px;
  z-index: 15;
}


.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 29px;
  top: 281px;
  width: 353px;
  height: 57px;
	animation: slideInRight 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 74px;
  top: 395px;
  width: 97px;
  height: 97px;
	animation: zoomIn 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 184px;
  top: 423px;
  width: 306px;
  height: 53px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.9s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 588px;
  top: 399px;
  width: 90px;
  height: 90px;
	animation: zoomIn 0.5s;
	animation-delay: 1.4s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 693px;
  top: 415px;
  width: 334px;
  height: 87px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.6s;
	animation-fill-mode: both;
	z-index: 10;
}

.s7 {
	position: absolute;
  left: 80px;
  top: 554px;
  width: 90px;
  height: 89px;
	animation: zoomIn 0.5s;
	animation-delay: 2.1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 184px;
  top: 571px;
  width: 358px;
  height: 87px;
	animation: fadeInRight 0.5s;
	animation-delay: 2.3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s9 {
	position: absolute;
  left: 588px;
  top: 554px;
  width: 90px;
  height: 90px;
	animation: zoomIn 0.5s;
	animation-delay: 2.8s;
	animation-fill-mode: both;
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 693px;
  top: 577px;
  width: 253px;
  height: 56px;
	animation: fadeInRight 0.5s;
	animation-delay: 3.1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s11 {
	position: absolute;
  left: 861px;
  top: 395px;
  width: 139px;
  height: 298px;
	animation: zoomIn 0.5s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s12 {
	position: absolute;
  left: 871px;
  top: 446px;
  width: 125px;
  height: 109px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3.8s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s13 {
	position: absolute;
  left: 1051px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 4.2s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s14 {
	position: absolute;
  left: 1060px;
  top: 446px;
  width: 145px;
  height: 80px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 4.6s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes pulseBig {
  0% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  100% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }
}