*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 384px;
  top: 335px;
  width: 295px;
  height: 294px;
	animation: rotateIn 2s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 433px;
  top: 275px;
  width: 197px;
  height: 451px;
	animation: zoomIn 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 10;
}

.s4 {
	position: absolute;
  left: 22px;
  top: 369px;
  width: 389px;
  height: 78px;
	animation: fadeInLeft 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 658px;
  top: 368px;
  width: 345px;
  height: 78px;
	animation: fadeInRight 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 43px;
  top: 542px;
  width: 368px;
  height: 80px;
	animation: fadeInLeft 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 15;
}

.s7 {
	position: absolute;
  left: 654px;
  top: 536px;
  width: 402px;
  height: 107px;
	animation: fadeInRight 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 20;
}

.s8 {
	position: absolute;
  left: 593px;
  top: 205px;
  width: 119px;
  height: 119px;
	animation: stampIn 0.2s;
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 30;
}


@keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}


@keyframes flashLong {
  0%, 40%, 80%   {
    opacity: 0;
  }

  20%, 60%, 100% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}